---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import { CarouselDoubleLevel } from '@/components/CarouselDoubleLevel';
import { Eventgrid } from '@/components/Eventgrid';
import '../styles/global.css';
import { ModeToggle } from '@/components/ModeToggle';
import InfiniteEvents from '@/components/InfiniteEvents';


---

 

<Layout title="PRIREDITVENI   KOLEDAR   KOROŠKIH SLOVENCEV">
	<Header></Header>
	<ModeToggle client:load />
	
	<main >
		
		<div class="mx-auto max-w-7xl sm:px-6 lg:px-8 mb-32">
			<!-- Content goes here -->
			<h2 id="today" class="text-kkred text-xl md:text-5xl text-center uppercase font-light mb-12">danes 1. marca 2024</h2>
			<Eventgrid></Eventgrid>
			
		</div>
		<div class="mx-auto max-w-7xl sm:px-6 lg:px-8 my-8 mb-32">
		
			<h2 id="thisweek" class="text-kkred text-xl md:text-5xl text-center uppercase font-light  mb-12">Ta teden</h2>
			<CarouselDoubleLevel client:load></CarouselDoubleLevel>
			
		</div>
		<div class="mx-auto max-w-7xl sm:px-6 lg:px-8 my-8 mb-32">
			<!-- Content goes here -->
			<h2  id="nextweek" class="text-kkred text-xl md:text-5xl text-center uppercase font-light mb-12">Druge prireditve</h2>
			<InfiniteEvents client:load></InfiniteEvents>
			
		</div>

	</main>
</Layout>
