---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import { CarouselDoubleLevel } from '@/components/CarouselDoubleLevel';
import { Eventgrid } from '@/components/Eventgrid';
import '../styles/global.css';
import { ModeToggle } from '@/components/ModeToggle';
import InfiniteEvents from '@/components/InfiniteEvents';


const search = Astro.url.searchParams.get('searchword') || '';

---

 

<Layout title="PRIREDITVENI   KOLEDAR   KOROŠKIH SLOVENCEV">
	<Header></Header>
	<ModeToggle client:load />
	
	<main>
		
		<div class="mx-auto max-w-7xl sm:px-6 lg:px-8 my-8 mb-32">
			<!-- Content goes here -->
			<h2  id="nextweek" class="text-kkred text-3xl md:text-5xl text-center uppercase font-light mb-12">Rezultati za {search}</h2>
			<InfiniteEvents client:load searchword={search} place=""></InfiniteEvents>
			
		</div>

	</main>
</Layout>
