---
import { Button } from '@/components/ui/button';
import { Catselect } from '@/components/Catselect';
import { Placeselect } from '@/components/Placeselect';
import { Searchfield } from '@/components/Searchfield';

---
<header class="bg-kklightyellow">
  <h1 class="text-center uppercase text-3xl text-kkred my-4">prireditveni koledar koroških slovencev</h1>
  <nav class="mx-auto grid grid-cols-1 md:grid-cols-3 max-w-5xl items-center justify-between px-6  pb-6 lg:px-8" aria-label="Global">
    <div class="grow flex flex-col px-4 gap-4 col-span-1 order-2 md:order-1 mb-4">
      <div class="grid grid-cols-1 gap-4">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 col-span-1">
          <a href="/#today" class="bg-kklorange font-sans uppercase text-xl px-2 py-0 col-span-1 text-center" >Danes</a>
          <a href="/#thisweek" class="bg-kklorange font-sans uppercase text-xl px-2 py-0 col-span-1 text-center" >Ta teden</a>
        </div>  
        <a href="/info" class="bg-kkred shadow-xl hover:bg-kkred text-white  rounded-full py-1 px-2 w-full mt-4 uppercase  col-span-1 w-full text-center">Informacije in navodila</a>
      </div>
      <div class="hidden">
        <Catselect  client:load/>
      </div>
    </div>
    <div  class="col-span-1 md:col-span-1 order-1 md:order-2 flex justify-center mb-4 h-48 w-auto md:h-auto"><img src="/logokk.png"/></div>
    <div class="grow  col-span-1 order-3">
      <div class="flex flex-col px-4 gap-4">
        <form action="/search" method="get">
        <div class="block">
          
            <Searchfield/>
          
         
        </div>
        <div class="block mt-2 ">
         
            <Placeselect  client:load/>
            
            <button id="button" type="submit" class="bg-kkred shadow-xl hover:bg-kkred text-white  rounded-full py-1 px-2 w-full mt-4 uppercase">Išči</button>
          
        </div>
        </form>
      </div>
    </div>
  </nav>
</header>
